<h1 class="row"><%= Spree.t(:wishlists) %></h1>


<p>
  <% if @wishlists.empty? %>
    <%= Spree.t(:your_wishlist_is_empty) %>
  <% end %>
</p>

<%= content_tag :ul do %>
  <% @wishlists.each do |wishlist| %>
    <%= content_tag :li do %>
      <%= link_to(wishlist.name, wishlist) %> - <%= wishlist.is_private ? Spree.t(:private) : Spree.t(:public) %>
    <% end %>
  <% end %>
<% end %>
