<div id="wishlist_header">
  <h1><%= @wishlist.name %></h1>
  <% if @wishlist.user == spree_current_user %>
    <div><%= render partial: 'accessibility' %></div>
  <% end -%>
</div>

<% if @wishlist.wished_products.size > 0 %>
<div id="products" class="" data-hook>
  <%  @wishlist.wished_products.each do |wish|
    variant = wish.variant
    product = variant.product
  %>
  <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
  <div id="product_<%= product.id %>" class="display-table col-xs-12 product-list-item <%= in_cart?(product) %> product-parent" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">

      <div class=" col-md-2 product-child text-center display-cell">
        <h5>
          <%= form_for wish do |f| %>
          <div class="input-group">
            <%= f.number_field :quantity, class: 'title form-control' %>

            <span class="input-group-btn">
              <%= button_tag :class => 'btn btn-info', :type => :submit do %>
                <%= Spree.t('actions.save') %>
              <% end %>
            </span>

                  </div>
                  <!-- end wish -->
          <% end %>
        </h5>
      </div>
      <div class=" col-md-4 text-center product-child display-cell">
        <%= link_to url, itemprop: "url" do %>
        <%= content_tag(:h5, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: "#{product.name}") %>
        <%= content_tag(:h5, truncate(product.english_name, length: 50), class: 'info', itemprop: "name", title: "#{product.name}") %>
        <% end %>
      </div>
      <div class=" col-md-2 text-center product-child display-cell">
        <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price"><%= display_price(product) %></span>
        </span>
      </div>

      <div class=" col-md-2 text-center product-child display-cell">


        <%= form_for :order, url: populate_orders_url, html: { class: 'add_to_cart_products__form' } do |f| %>
          <%= hidden_field_tag 'variant_id', variant.id, size: 3 %>
          <div class="add-to-cart">
              <div class="input-group">
                  <%= number_field_tag 'quantity', wish.quantity, class: 'title form-control', size: 3 %>
                <span class="input-group-btn">
                  <%= button_tag :class => 'btn btn-success add_to_cart_products__button', :type => :submit do %>
                    + <span class="glyphicon glyphicon-shopping-cart"></span>
                  <% end %>
                </span>
              </div>
            </div>

          <!-- <%= link_to Spree.t(:add_to_cart), '#', onclick: '$(this).parent().submit(); return false;', class: 'btn btn-success' %> -->
        <% end %>
      </div>
      <div class=" col-md-2 text-center product-child display-cell">

        <%= link_to "X", wish, method: :delete, class: 'btn btn-danger' %>
      </div>

      <!-- </div> -->


  </div>
    <% end %>
</div>
<% else -%>

    <h1><%= Spree.t(:your_wishlist_is_empty) %></h1>

<% end -%>

<div class="footer_links" data-hook="wishlist_footer_links">
  <% if @wishlist.user == spree_current_user %>
    <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path, class: 'btn btn-default' %>
    <%= link_to Spree.t(:edit_wishlist), edit_wishlist_path(@wishlist), class: 'btn btn-default' %>
  <% end -%>
  <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %>
  <!-- <% if respond_to?(:email_to_friend_url) %>
    <%= link_to Spree.t('email_to_friend.send_to_friend'), email_to_friend_url('wishlist', @wishlist), class: 'btn btn-default' %>
  <% end %> -->
</div>


<script>
  $(function() {
    $('.add_to_cart_products__form').addToCartAjaxForm();
  });
</script>
